.container {
  display: flex;
  gap: 5%;

  width: 100%;
  max-height: 83vh;

  background-color: #f6f8ff;
}

.container div {
  justify-content: center;
}

/*Infos*/
.infos {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.infos .text {
  text-align: left;
  font-size: 2rem;

  padding-left: 14%;
  animation: side-left 1.1s ease-out;
}

@keyframes side-left {
  0% {
    opacity: 0;
    transform: translateX(-45%);
  }

  60% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
  }
}

.infos .important {
  color: #3daeed;
}

.infos .text h3 {
  font-size: 0.75em;
}

.infos .text h3 span {
  color: #ffc24b;
}

.infos button {
  background-color: black;

  font-size: 1.25rem;
  font-weight: bold;
  color: white;

  border-radius: 50px;
  padding: 23px 80px;

  transition: background-color 0.2s;
  cursor: pointer;

  animation: show-button 1.5s ease-out;
}

.infos button:hover {
  background-color: gray;
  border-color: white;
  transition: background-color 0.2s;
}

@keyframes show-button {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  45% {
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
  }
}

/*Icons*/
.icons {
  flex: 1.3;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.icons img {
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 1228px) {
  .infos .text h3 {
    font-size: 0.7em;
  }

  .infos .text {
    font-size: 1.7rem;
  }
}

@media (max-width: 1045px) {
  .infos .text {
    text-align: center;
    padding: 1.5rem 2rem;
  }

  .infos .text h3 {
    font-size: 1.3em;
  }

  .infos button {
    font-size: 1rem;
  }

  .icons {
    display: none;
  }
}

@media (max-width: 559px) {
  .container {
    max-height: 120vh;
  }

  .infos .text h3 {
    font-size: 1em;
  }

  .infos .text {
    font-size: 1.7em;
  }
}

@media (max-width: 390px) {
  .infos .text {
    padding-bottom: 0;
  }

  .infos button {
    padding: 1rem 3rem;
  }
}
