.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  background-color: white;
}

.container h1 {
  margin-bottom: 0;

  padding: 0.5em;

  width: 40%;

  font-size: 2.7rem;
}

/*Cards*/
.cards {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 78%;

  margin: auto;
  margin-top: 0vh;
  margin-bottom: 8vh;

  gap: 4%;

  overflow: hidden;
}

.cards .card {
  flex: 1 1 20%;

  margin: 8vh auto;

  text-align: center;
}

.cards .card img {
  max-height: 14vw;
}

.cards .card hr {
  margin: 3.4vh auto;

  border: solid 1px gray;

  width: 65%;
}

.cards .card p {
  font-weight: bold;
  margin-bottom: 4.5vw;
  margin: 0;

  font-size: 1.8rem;
}

@media (max-width: 1326px) {
  .container h1 {
    width: 80%;
  }

  .cards {
    width: 80%;
  }

  .cards .card {
    flex: 1 1 45%;
    margin: 3.5vh auto;
  }

  .cards .card img {
    max-height: 18vw;
  }
}

@media (max-width: 788px) {
  .cards {
    flex-direction: column;
    width: 60%;
  }

  .cards .card {
    flex: 1;
  }
}
