
#root {
  flex-direction: column;
}

.contatos {
  overflow-x: clip;

  display: flex;
}

.contatos > * {
  flex: 1;

  padding-top: 3vh;
  height: 80vh;
}

.contatos p {
  /*font-family: DejaVu Sans Mono, monospace;*/
}

.contatos .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 60vh;
  padding: 0 4%;

  z-index: 2;

  /*overflow: hidden;*/
}

.contatos .infos p {
  color: #040406;
}

.contatos .infos .title {
  margin-bottom: 0px;
  animation: show-big-texts 1.8s ease-out backwards;
}

.contatos .infos .intro {
  font-size: 1.6rem;
  animation: show-big-texts 1.8s ease-out backwards;
}

@keyframes show-big-texts {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }

  40% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
  }
}

.contatos .infos .contato {
  padding-left: 3%;
}

.contatos .infos .contato .meio {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 5%;
}

.contatos .infos .contato .meio img {
  max-width: 2rem;
  max-height: 2rem;

  object-fit: cover;

  animation: show-icon 1.2s ease-out;
}

.contatos .infos .contato .meio p {
  font-size: 1.1rem;
}

.contatos .infos .contato .meio div {
  overflow: hidden;
}

.contatos .infos .contato .meio .cont-text {
  font-weight: bold;
  color: gray;
  animation: show-contact-meio 1.6s ease-out backwards;
}

.cont-text:nth-child(1) {
  color: red;
}

.contatos .infos .contato .meio .text-1 {
  animation-delay: 0.2s;
}

.contatos .infos .contato .meio .text-2 {
  animation-delay: 0.5s;
}

.contatos .infos .contato .meio .text-3 {
  animation-delay: 0.8s;
}

@keyframes show-icon {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }

  40% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-contact-meio {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }

  40% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
  }
}


.contatos .message {
  flex: 1.2;

  /*position: relative;*/

  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /*overflow: hidden;*/
}

.contatos .message .email {
  /*position: relative;*/

  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  max-width: 60%;

  -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 5px;

  z-index: 2;

  animation: show-email 2.3s ease-out;
}

@keyframes show-email {
  0% {
    opacity: 0;
    transform: translateX(110%);
  }

  35% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
  }
}

.contatos .message .email p {
  font-size: 2rem;

  margin-bottom: 0.6rem;;
  padding: 2% 7%;
}

.contatos .message .email .inputs {
  padding: 2% 7%;

  text-align: center;
}

.contatos .message .email .inputs > * {
  width: 92%;

  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;

  /*font-family: DejaVu Sans Mono, monospace;*/
  font-size: 1.1em;
  padding: 4%;

  border-color: #5D4DE8;

  resize: none;
}

.contatos .message .email .inputs button {
  width: 100%;

  background-color: #5D4DE8;
  font-size: 1.4rem;
  color: white;

  border: none;
}

.under-section {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;
  align-items: end;

  height: 30vh;
  width: 100vw;

  background-color: #5D4DE8;
  z-index: 1;
}

.under-section .social-media {
  text-align: center;

  padding: 2rem 6vw;
}

.under-section .social-media img {
  max-height: 3rem;
  filter: invert(1);
  cursor: pointer;

  animation: fade 1.8s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@media (max-width: 1110px) {
  .contatos {
    display: block;
  }

  .contatos .infos {
    padding-top: 2rem;
    height: auto;
    text-align: center;
  }

  .contatos .infos .intro {
    max-width: 70%;

    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    font-size: 1.2rem;
  }

  .contatos .infos .contato .meio {
    padding: 1% 6vw;
    flex-direction: column;
  }

  .contatos .message {
    position: relative;

    height: auto;

    padding-top: 8vh;
    padding-right: 0%;
  }

  .contatos .message .email p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .contatos .message .email .inputs > * {
    font-size: 0.8rem;
  }

  .contatos .message .email .inputs button {
    font-size: 1rem;
  }

  .under-section {
    top: 40%;
    left: 0;

    justify-content: center;

    height: 80%;
    width: 100%;

    padding-bottom: 1rem;
  }

  .under-section .social-media {
    max-height: 20%;

    padding: 0;
  }
}

@media (max-width: 252px) {
  .under-section .social-media img {
    max-height: 2.5rem;
  }
}

@media (max-width: 200px) {
  .under-section .social-media img {
    max-height: 2rem;
  }
}

@media (max-width: 140px) {
  
}
