
.navbar {
  display: flex;

  width: 100%;
  max-height: 8.5vh;

  padding-top: 3vh;

  background: purple;
}

/*Logo*/
.logo {
  flex: 1 1 20%;

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 2%;
}


.logo-text {
  padding-left: 0.6rem;
}

.logo-text {
  overflow: hidden;
}

.logo-text-span {
  display: inline-block;

  font-size: 4.5vh;
  user-select: none;

  animation: logo 0.8s normal ease-out;
}

/*Language*/
.flag {
  flex: 1 20%;

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4%;

  font-size: 1.5em;
  font-weight: bold;

  padding: 0 2%;
}

.flag * {
  cursor: pointer;
}


.flag-icon {
  max-height: 60%;
}

/*Image*/
.image {
  max-height: 100%;
  max-width: 30%;
  object-fit: "cover";
}

@media (max-width: 1860px) {
  .logo-text-span {
    font-size: 3vh;
  }
}

@media (max-width: 1260px) {
  .logo-text-span {
    display: none;
  }

  .flag-text {
    display: none;
  }
}

@keyframes logo {
  0% {
    transform: translateX(-105%);
  } 100% {
    transform: translateX(0%);
  }
}

/*Sections*/
.sections {
  position: relative;

  flex: 1 1 60%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.sections-span {  
  color: black;
  font-size: 2.7vh;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.sections-span:hover {
  color: red;
  cursor: pointer;

  transition: color 0.8s;
}

@media (max-width: 791px) {
  .sections {
    display: none;
  }
}
